<p id="notice"><%= notice %></p>

<h1>User Infos</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Issue date</th>
      <th>Expire date</th>
      <th>Nationalid no</th>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_infos.each do |user_info| %>
      <tr>
        <td><%= user_info.user.username %></td>
        <td><%= user_info.issue_date %></td>
        <td><%= user_info.expire_date %></td>
        <td><%= user_info.nationalid_no %></td>
        <td><%= user_info.name %></td>
        <td><%= user_info.address %></td>
        <td><%= link_to 'Show', user_info %></td>
        <td><%= link_to 'Edit', edit_user_info_path(user_info) %></td>
        <td><%= link_to 'Destroy', user_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Info', new_user_info_path %>
