

<!-- ############ PAGE START-->
<div class="row no-gutter">
  <div class="col-sm-3 col-lg-2">
    <div class="p-y">
      <div class="nav-active-border left b-primary">
        <ul class="nav nav-sm flex-column">
          <li class="nav-item">
            <a class="nav-link block active" href data-toggle="tab" data-target="#tab-1">National ID Verification</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-lg-10 light lt">
    <div class="tab-content pos-rlt">
      <div class="tab-pane active" id="tab-1">
        <div class="p-a-md dker _600"></div>
        <%= form_with(model: nationalid_verification, local: true, class: 'p-a-md col-md-6') do |form| %>
          <% if nationalid_verification.errors.any? %>
            <div id="error_explanation">
              <%= pluralize(nationalid_verification.errors.count, "error") %> prohibited this nationalid_verification from being saved:
                <ul>
                   <% nationalid_verification.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                   <% end %>
                </ul>
            </div>
          <% end %>  
          <div class="form-group">
            <label>Legal Name</label>
            <%= form.text_field :legal_name,class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>National ID</label>
            <%= form.text_field :national_id,class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>Document Type</label>
            <%= form.select(:document_type, options_for_select([["بطاقة الرقم القومى","NationalId_Card"],["جواز السفر","Passport"],["رخصة قيادة","Driving_License"]]), {},:class => 'form-control input-c',:include_blank =>  'choose from list')%>
            </div>
          <div class="form-group">
            <label>Issue Date</label>
            <%= form.date_select :issue_date, {}, {:class => ""} %>
          </div>
          <div class="form-group">
            <label>Expire Date</label>
            <%= form.date_select :expire_date, {}, {:class => ""}  %>
          </div>
          <div class="form-group">
            <label>Attachment1</label>
            <div class="form-file">
              <%= form.file_field :attachment1 %>
              <button class="btn white">Upload attachment</button>
            </div>
          </div>
          <div class="form-group" id="second_attachment" style= "display:none;">
            <label>Attachment2</label>
            <div class="form-file">
              <%= form.file_field :attachment2 %>
              <button class="btn white">Upload second attachment</button>
            </div>
          </div>
     <!-- <div class="field">
               <%# form.label :images %>
               <%# form.file_field :images, multiple: true %>
          </div><br> -->


         
          
          <button type="submit" class="btn btn-info m-t" >Submit</button>
        <% end %>
      </div>

      


      
</div>



<!-- ############ PAGE END-->

<script language="JavaScript" type="text/javascript" src="/libs/js/jquery-3.2.1.min.js"></script>
<script>
  $(document).ready(function() {
    $("#nationalid_verification_document_type").prop('required',true);
    $("#nationalid_verification_document_type").change(function()
     {
      $("#nationalid_verification_attachment1").val('');
      $("#nationalid_verification_attachment2").val('');
      var value = $("#nationalid_verification_document_type").val();
         if (value == "Passport")
          {
            $("#second_attachment").hide();
            $("#nationalid_verification_attachment2").prop('required',false);
            $("#nationalid_verification_attachment1").prop('required',true);
         }
        else
          {
            $("#second_attachment").show();
            $("#nationalid_verification_attachment1").prop('required',true);
            $("#nationalid_verification_attachment2").prop('required',true);
          }
        })
      })
</script>