
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to amira.com, <%= params[:email] %></h1>
    <p>
    <h3> Your Code is  <%= params[:token] %></h3>

   
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
