<!-- brand -->
<a class="navbar-brand">
	<div ui-include="'/assets/images/logo.svg'"></div>
	<img src="/assets/images/logo.png" alt="." class="hide">
	<span class="hidden-folded inline v-m">
			Payers
			<!-- {{app.name}} -->
		<span class="text-xs text-muted _300 block m-t-xs tagline">Payment Facilator</span>
	</span>
</a>
<!-- / brand -->
